---
// const today = new Date();
---

<footer class="py-6 text-gray-600 text-sm text-center">
	<p>&copy; {new Date().getFullYear()} Dr Neeraj Purohit. All rights reserved.</p>
	<p class="mt-2">
		<a href="https://www.linkedin.com/in/neeraj-purohit-63ba8483/" target="_blank" rel="noopener noreferrer" class="text-emerald-700 hover:underline">Connect on LinkedIn</a>
	</p>
</footer>
