---
import HeaderLink from "./HeaderLink.astro";
---

<header class="px-4 py-8">
	<div
		class="flex justify-between items-center bg-beige mx-auto px-4 md:px-8 py-4 border-4 border-zinc-400 rounded-full w-full md:w-fit"
	>
		<div
			class="flex justify-around gap-x-4 md:gap-x-8 w-full text-md md:text-lg"
		>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</div>
</header>
